{{> layout}}

<section>
  <h2>Signup</h2>

  <!-- Signup Form, need to check if repeated -->
  <form id="signupForm" action="/signup" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm-password">Confirm Password:</label>
    <input type="password" id="confirm-password" name="confirm-password" required>

    <button type="submit">Signup</button>
  </form>
</section>

<!-- Import the signup.js script -->
<script src="/public/js/signup.js"></script>
